<html>
    <head>
        <link rel="stylesheet" href="./styles/index.css">
    </head>

    <body>
        <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
        <label for="drawer-toggle" id="drawer-toggle-label"></label>
        
        <header class='header'>
            <div class="header-content">
                <span>Computer Saller </span>
                <img src="cpu.png" alt="card__image" width="30" height="30">
            </div>
        </header>
        <nav id="drawer">
            <ul>
               <li><a href="/Users/nel/Documents/university/web/index.html">Main</a></li>
               <li><a href="/Users/nel/Documents/university/web/about_author.html">About author</a></li>
               <li><a href="/Users/nel/Documents/university/web/about_company.html">About company</a></li>
            </ul>
        </nav>

        <div class="container">
            <div class=creator>
                <p>Creator: Николай Пушкарёв</p>
            </div>
            <div class=group>
                <p>Group: ВПР41</p>
            </div>
        </div>
        
        <section class="bg-white">
            <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
                <nav class="flex flex-wrap justify-center -mx-5 -my-2">
                    <div class="px-5 py-2">
                        Email: <a href="#">lorel@mail.com</a>
                    </div>
                </nav>
                    © 2021 SomeCompany, Inc. All rights reserved.
            </div>
        </section>
    </body>
</html>