<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="./styles/index.css">
    </head>

    <body>
        <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
        <label for="drawer-toggle" id="drawer-toggle-label"></label>

        <header class='header'>
            <div class="header-content">
                <span>Computer Saller </span>
                <img src="cpu.png" alt="card__image" width="30" height="30">
            </div>
        </header>
        <nav id="drawer">
           <ul>
              <li><a href="/Users/nel/Documents/university/web/index.html">Main</a></li>
              <li><a href="/Users/nel/Documents/university/web/about_author.html">About author</a></li>
              <li><a href="/Users/nel/Documents/university/web/about_company.html">About company</a></li>
           </ul>
        </nav>

        <div class="container">
            <a class='link-card' href="/Users/nel/Documents/university/web/cpu_table.html">
                <div class="card">
                    <div class="card__header">
                        <div>
                            <img src="cpu.png" alt="card__image" class="card__image" width="600">
                        </div>
                    </div>
                    <div class="card__body">
                        <span class="tag tag-blue">CPU</span>
                        <h4>Central processing unit</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                    </div>
                </div>
            </a>
            <a class='link-card' href="/Users/nel/Documents/university/web/ram_table.html">
                <div class="card">
                    <div class="card__header">
                        <img src="ram.png" alt="card__image" class="card__image" width="600">
                    </div>
                    <div class="card__body">
                        <span class="tag tag-brown">RAM</span>
                        <h4>Random Access Memory</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                    </div>
                </div>
            </a>

            <a class='link-card' href="/Users/nel/Documents/university/web/driver_table.html">
                <div class="card">
                    <div class="card__header">
                        <div>
                            <div> <img src="ssd.png" alt="card__image" class="card__image" width="600"> </div>
                        </div>
                    </div>
                    <div class="card__body">
                        <span class="tag tag-red">Driver</span>
                        <h4>SSD</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                    </div>
                </div>
            </a>
        </div>
    
        <section class="bg-white">
            <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
                <nav class="flex flex-wrap justify-center -mx-5 -my-2">
                    <div class="px-5 py-2">
                        Email: <a href="#">lorel@mail.com</a>
                    </div>
                </nav>
                    © 2021 SomeCompany, Inc. All rights reserved.
            </div>
        </section>

    </body>
</html>